html {
  scroll-behavior: smooth;
}

main {
  width: 100%;
}

.Title {
  font: 2em "Lora";
  font-weight: 600;
  color: #d2d9d8;
  line-height: 0.25;
  transition: color 0.3s ease-in-out;
}
/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 3em;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #204359;
  padding: 0.25em;
  border-bottom: 0.2em solid #d2d9d8;
}
header .Title {
  text-decoration: none;
  margin-right: auto;
  padding-left: 0.5em;
}
header .Title:hover {
  color: #a5d0e1;
}
/* Tabs */
header nav {
  display: flex;
  gap: 1em;
  padding-right: 1em;
}
nav a {
  color: #d2d9d8;
  font-size: 1em;
  text-decoration: none;
  font-family: Lato;
  display: flex;
  gap: 0.5em;
  border-bottom: #d2d9d8 solid 0em;
  transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
}
nav a i {
  opacity: 0%;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}
nav a:hover,
nav a:active {
  color: #a5d0e1;
}

nav a:hover i,
nav a:active i {
  color: #a5d0e1 !important;
}

nav a.active {
  border-bottom: #d2d9d8 solid 0.1em;
}
nav a.active:hover,
nav a.active:active {
  border-color: #a5d0e1;
}

nav a.active i {
  opacity: 100%;
}

/* Body */
body {
  background-color: #d2d9d8;
  display: flex;
  align-items: center;
  padding-top: 15em;
  margin: 0;
}
/* Home Section */
#Home {
  padding-top: 15em;
  margin-top: -15em;
}
.HomeSection {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
}
#sqrMe {
  order: 2;
}
#sqrPro {
  order: 1;
}
#sqrSki {
  order: 3;
}
.square {
  width: 27%;
  background-color: #204359;
  border-radius: 0.625em;
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProfileIMG {
  background-image: url(Index-Uploads/Images/Me2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding-top: 100%;
  margin-top: -10em;
  border-radius: 50%;
}
.ProjectsIMG {
  background-image: url(Index-Uploads/Images/Menu-Signage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 70%;
  padding-top: 70%;
  margin-top: -10em;
  border-radius: 50%;
}
.SkillIMG {
  background-image: url(Index-Uploads/Images/Coding.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 70%;
  padding-top: 70%;
  margin-top: -10em;
  border-radius: 50%;
}
.sub-text {
  color: #d2d9d8;
  font: 1em Lato;
  text-align: left;
}
.LMButton {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-align: center;
  width: 100%;
  padding-top: 0.5em;
}
.button {
  font-family: Lato;
}
a.button {
  font-size: 2em;
  padding: 0.25em;
  background-color: #a5d0e1;
  color: #080d0c;
  border-radius: 1em;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.button:hover,
.button:active {
  background-color: #080d0c;
  color: #a5d0e1;
  cursor: pointer;
}
/* Skills Section */
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  flex-wrap: wrap;
  row-gap: 1em;
}

.SkillCon {
  width: 30%;
  height: max-content;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.SkillCon:hover {
  transform: scale(1.15);
}

.SkillCon g {
  transition: fill 0.2s ease-in-out;
}

.SkillCon:hover g {
  fill: #a5d0e1;
}

.SkillCon .cls-1 {
  transition: fill 0.2s ease-in-out;
}

.SkillCon:hover .cls-1 {
  fill: #a5d0e1;
}

.scroll-to-button {
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}
.scroll-to-button i {
  font-size: 3em;
  color: #204359;
}

header[id],
section[id] {
  padding-top: 3.4em;
  margin-top: -3.4em;
}

.AboutSection {
  display: flex;
  justify-content: space-evenly;
}
.PicABO {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AboutPicture {
  width: 100%;
  display: flex;
  justify-content: center;
}
.PicSQR {
  background-image: url(Index-Uploads/Images/Red-Jacket.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 40%;
  padding-top: 40%;
  border-radius: 50%;
}
.AboutSection .Title {
  color: #d2d9d8;
  text-align: center;
  width: 100%;
  line-height: 0;
  margin: 0.25em 0;
}
.SumSquare {
  width: 94%;
  background-color: #204359;
  border-radius: 0.625em;
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.EduSQR {
  width: 45%;
  background-color: #204359;
  border-radius: 0.625em;
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Courses {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.Courses::before {
  content: "\e5cf";
  font-family: "Material Symbols Rounded";
  display: inline-block;
  margin-right: 8px;
  font-weight: 600;
  font-size: 2em;
}

.Info {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  text-align: left;
}

/* Expereince Section */
.ExperienceSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ExperienceContainer {
  width: 94%;
  display: flex;
}
.Experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1em;
  border-radius: 0.625em;
  background-color: #204359;
}
.ExpTitle {
  display: flex;
  justify-content: space-between;
  font: 1.5em "Lato";
  font-weight: bold;
  color: #d2d9d8;
  margin: 0.25em 0;
  width: 100%;
}
.ExpInfo {
  display: flex;
  text-align: left;
  flex-direction: column;
  font: 1em "Lato";
  color: #d2d9d8;
  margin: 0.25em 0;
  width: 100%;
  gap: 0.5em;
}

ul {
  margin: 0;
}
ul li {
  line-height: 1.25;
}

/* Projects Section */
.ProjectsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}
#AltTitle {
  color: #204359;
  margin-top: 0.25em;
}

#searchInput {
  padding: 0.625em;
  border-radius: 0.625em;
  font-family: "Lato";
  font-size: 1em;
  width: 90%;
  margin: 0 0 1em 0;
  border: none;
}

#NoProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  font-family: "Lato";
  font-size: 2em;
  font-weight: bold;
  color: #204359;
}

.CardContainer {
  display: flex;
  gap: 1%;
  row-gap: 1em;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.card {
  width: 45%;
  background-color: #204359;
  position: relative;
  overflow: hidden;
  border-radius: 1em;
  height: auto;
}
.front {
  position: absolute;
  height: 100%;
  width: 100%;
  font: 2em "Lora";
  font-weight: 600;
  color: #d2d9d8;
  background-color: #20435962;
  background-blend-mode: screen;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: #080d0c 1px 0 0.625em;
}
.expandable {
  position: relative;
  top: 100%;
  transition: top 1s ease-in-out;
  height: 100%;
  width: 100%;
  background-color: #204359;
  color: #d2d9d8;
  font: 1em Lato;
  text-align: left;
}
.expandable p {
  padding: 0 1em;
}
.card:hover .expandable {
  top: 0%;
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.5em;
}
.buttons a {
  width: 25%;
  text-decoration: none;
  color: #080d0c;
  background-color: #a5d0e1;
  border-radius: 1em;
  padding: 0.25em;
  white-space: nowrap;
  text-align: center;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.buttons a:hover {
  color: #a5d0e1;
  background-color: #080d0c;
}
footer {
  background-color: #204359;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contactform {
  width: 70%;
}
form {
  text-align: left;
}
label {
  font: 1em "Lato";
  color: #d2d9d8;
}
#contact {
  padding-top: 17em;
  margin-top: -17em;
}
footer input {
  padding: 0.625em;
  border-radius: 0.625em;
  font-family: "Lato";
  width: 97%;
  margin: 0.625em 0;
  border: none;
}
footer textarea {
  padding: 0.625em;
  border-radius: 0.625em;
  font-family: "Lato";
  width: 97%;
  margin: 0.625em 0 0 0;
  resize: vertical;
}
#submit {
  appearance: none;
  -webkit-appearance: none;
  padding: 0.625em;
  border: none;
  font: 1em "Lato";
  background-color: #a5d0e1;
  color: #080d0c;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
#submit:active,
#submit:hover {
  background-color: #080d0c;
  color: #a5d0e1;
}
.email {
  font: 1em "Lato";
  color: #d2d9d8;
  margin-top: 0.5em;
  text-decoration: none;
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.email svg {
  width: 1.5em;
}
.socials {
  font: 1em "Lato";
  color: #d2d9d8;
  margin: 1em 0;
}
.social-icons a {
  color: #d2d9d8;
  text-decoration: none;
}
.social-icons a:hover svg .st0 {
  fill: #a5d0e1;
}
.icon {
  width: 2.5em;
}

/* 404 Page */
.Error404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 5em 1em 2em 1em;
  margin-top: -15em;
  height: 50vh;
}
.ErrorTitle {
  font: 10em "Lora";
  font-weight: 600;
  color: #d2d9d8;
  line-height: 1;

  background-color: #204359;
  padding: 0.25em;
  border-radius: 1em;
  text-align: center;
}
.ErrorText {
  font: 1.5em "Lato";
  color: #204359;
  text-align: center;
}
.ErrorText a {
  color: #204359;
  text-decoration: none;
  font-weight: 600;
}

/* Extra Small Devices (Mobile Phones) */
@media only screen and (max-width: 425px) {
  header nav {
    display: none;
  }
  .HomeSection {
    flex-direction: column;
    row-gap: 10em;
    flex-wrap: nowrap;
    width: 100%;
  }
  .square {
    width: 80%;
    align-self: center;
  }
  #sqrMe {
    order: 1;
  }
  #sqrPro {
    order: 2;
  }
  #sqrSki {
    order: 3;
  }
  .Courses::before {
    display: none;
  }
  .Courses p::before {
    content: "\e5cf";
    font-family: "Material Symbols Rounded";
    display: inline-block;
    margin-right: 8px;
    font-weight: 600;
    font-size: 2em;
  }
  .Courses {
    text-align: left;
  }
  .Courses p {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .scroll-to-button i {
    width: 10%;
  }
  .AboutSection {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .PicABO {
    width: 100%;
  }
  .SumSquare {
    width: 80%;
  }
  .PicSQR {
    width: 50%;
    padding-top: 50%;
  }
  .EduSQR {
    width: 80%;
  }
  .ExpTitle {
    flex-direction: column;
    gap: 0.25rem;
    margin: 0;
  }
  .JobDate {
    font: bold 0.75em "Lato";
    text-align: right;
  }
  .card {
    width: 90%;
  }
  .buttons a {
    width: 30%;
  }
  .contactform {
    width: 80%;
  }

  /* 404 Page */
  .Error404 {
    height: 60vh;
  }

  .ErrorTitle {
    font: 8em "Lora";
  }
}

/* Small Devices (Tablets) */
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .square {
    width: 41%;
  }
  .ProjectsIMG {
    margin-top: -9em;
  }
  #Home {
    margin-top: -17em;
  }
  .SkillIMG {
    margin-top: -8em;
    width: 30%;
    padding-top: 30%;
  }
  #sqrSki {
    margin-top: 8em;
    width: 90%;
  }
  .SkillCon {
    width: 20%;
    height: 40%;
  }
  .scroll-to-button i {
    width: 7%;
  }
  .AboutSection {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .SumSquare {
    width: 90%;
  }
  .PicABO {
    width: 100%;
  }
  .PicSQR {
    width: 30%;
    padding-top: 30%;
  }
  .EduSQR {
    width: 90%;
  }
  .Info {
    text-align: justify;
  }
  .ExperienceSection {
    width: 100%;
  }
  .ExperienceContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ExpTitle {
    flex-direction: column;
    gap: 0.5rem;
  }
  .Experience {
    width: 90%;
  }
  .card {
    width: 90%;
  }
  .buttons a {
    width: 20%;
  }
}

/* Medium Devices (Laptops and Desktops) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

/* Large Devices (Large Laptops and Desktops) */
@media only screen and (min-width: 1025px) {
  .buttons a {
    width: 20%;
  }
}
