html {
  scroll-behavior: smooth;
}

.front,
.Title {
  font: 2em "Lora";
  color: #efedd5;
}
/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 2.5em;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #266752;
  padding: 0.25em;
  border-bottom: 0.2em solid #efedd5;
}
header .Title {
  text-decoration: none;
  margin-right: auto;
  padding-left: 0.5em;
}
header .Title:hover {
  color: #dea450;
}
/* Tabs */
header nav {
  display: flex;
  gap: 1em;
  padding-right: 1em;
}
nav a {
  color: #efedd5;
  font-size: 1em;
  text-decoration: none;
  font-family: Lato;
}
nav a:hover {
  color: #dea450;
}
nav a:active {
  color: #efedd5;
}
/* Body */
body {
  background-color: #efedd5;
  display: flex;
  align-items: center;
  padding-top: 15em;
  margin: 0;
}
/* Home Section */
.HomeSection {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-bottom: 1%;
}
#sqrMe {
  order: 2;
}
#sqrPro {
  order: 1;
}
#sqrSki {
  order: 3;
}
.square {
  width: 27%;
  background-color: #266752;
  border-radius: 0.625em;
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.LargeIMG {
  width: 100%;
  margin-top: -5em;
  object-fit: cover;
  border-radius: 50%;
}
.MediumIMG {
  width: 70%;
  margin-top: -9em;
}
.MediumIMG img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.square .Title {
  line-height: 0;
}
.expandable,
.sub-text {
  color: #efedd5;
  font: 1em Lato;
  text-align: center;
}
.LMButton {
  text-align: center;
  margin-top: 1.5em;
  width: 100%;
}
.button {
  font-family: Lato;
}
a.button {
  font-size: 2em;
  padding: 0.25em;
  background-color: #dea450;
  color: #efedd5;
  border-radius: 1em;
  text-decoration: none;
}
.button:hover {
  background-color: #0a1823;
  color: #dea450;
  cursor: pointer;
}
/* Skills Section */
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills img {
  width: 40%;
  height: auto;
  margin: 5px;
}

.scroll-to-button {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
}
.scroll-to-button img {
  width: 3%;
}

header[id],
div[id] {
  padding-top: 3.4em;
  margin-top: -3.4em;
}

.AboutSection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 1%;
}
.PicABO {
  width: 43%;
}
.PicSQR {
  width: 100%;
  display: flex;
  justify-content: center;
}
.PicSQR img {
  width: 35%;
  border-radius: 50%;
}
.AboutSection .Title {
  color: #efedd5;
  text-align: center;
  width: 100%;
  line-height: 0;
}
.SumSquare {
  width: 100%;
  background-color: #266752;
  border-radius: 0.625em;
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.EduSQR {
  width: 43%;
  background-color: #266752;
  border-radius: 0.625em;
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Info {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

/* Projects Section */
.ProjectsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0;
}
#green {
  color: #266752;
}
.CardContainer {
  display: flex;
  gap: 1%;
  row-gap: 1em;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 30%;
  background-color: #266752;
}
.front {
  width: 100%;
  height: 5em;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
}
.expandable {
  position: absolute;
  width: 30%;
  background-color: #266752;
  display: none;
}
.card:hover .expandable {
  display: block;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}
.buttons a {
  width: 25%;
  text-decoration: none;
  color: #efedd5;
  background-color: #dea450;
  border-radius: 50%;
  padding: 0.5em;
}
.buttons a:hover {
  color: #dea450;
  background-color: #0a1823;
}

/* Extra Small Devices (Mobile Phones) */
@media only screen and (max-width: 425px) {
  header nav {
    display: none;
  }
  .HomeSection {
    flex-direction: column;
    row-gap: 10em;
    flex-wrap: nowrap;
    width: 80%;
  }
  .square {
    width: 100%;
    align-self: center;
  }
  #sqrMe {
    order: 1;
  }
  #sqrPro {
    order: 2;
  }
  #sqrSki {
    order: 3;
  }
  .scroll-to-button img {
    width: 10%;
  }
  .AboutSection {
    width: 100%;
    align-content: center;
    flex-direction: column;
  }
  .PicABO {
    width: 80%;
    flex-direction: column;
  }
  .PicSQR img {
    width: 60%;
  }
  .SumSquare {
    margin-top: 1em;
  }
  .EduSQR {
    margin-top: 1em;
    width: 80%;
  }
  .card {
    width: 45%;
  }
  .expandable {
    width: 45%;
  }
  .card:active .expandable {
    display: block;
  }
}

/* Small Devices (Tablets) */
@media only screen and (min-width: 426px) and (max-width: 768px) {
}

/* Medium Devices (Laptops and Desktops) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
}

/* Large Devices (Large Laptops and Desktops) */
@media only screen and (min-width: 1201px) {
}
