/* Set font for the name */
.name {
    font-family: 'Abril Fatface';
  }
  /* Set font for the tabs */
  nav a {
    font-family: 'Lato';
  }
  /* Set color scheme */
  body {
    background-color: #e7ecef;
    margin: 0;
    padding: 0;
  }
  /* Fixed header */
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 2px #274c77;
    padding: 5px;
    background-color: #274c77;
  }
  .name {
    color: #e7ecef;
    margin-right: auto;
    white-space: nowrap;
  }
  header .name {
    text-decoration: none;
}
header .name:hover {
    color: #8b8c89; /* same color as the tabs on hover */
    text-decoration: none; /* remove underline */
}
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  nav a {
    color: #e7ecef;
    margin: 0 5px;
    text-decoration: none;
  }
  nav a:hover {
    color: #8b8c89;
  }
  nav a:active {
    color: #e7ecef;
  }
  /* Add styles for the square container */
  .square {
    position: relative;
    width: 250px;
    height: 350px;
    background-color: #6096ba;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    float: left;
  }
  .square-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 250px;
    height: 350px;
    background-color: #6096ba;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    float: left;
    overflow: hidden;
}
@media(max-width:599px){
    .square, .square-2 {
        width: 100%;
        margin: 10px 0;
        float: none;
    }
}
.picture-container {
    width: 100%;
    height: 80%;
}
.picture-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
h1.name-2 {
    /* styles for the name element in the second square */
    font-size: 20px; /* reduce the font size of the name */
    margin: 0; /* remove the margin around the name */
}
img {
    border-radius: 50%; /* make the image a circle */
    width: 150px; /* set the width of the image */
    height: 150px; /* set the height of the image */
    object-fit: cover; /* make the image cover the entire container */
}
h1.name {
    font-size: 25px; /* set font size for name */
    margin-bottom: 10px; /* add margin to bottom of name */
}
p.position, p.university {
    font-size: 14px; /* set font size for position and university */
    margin-bottom: 10px; /* add margin to bottom of position and university */
}
p.position-2, p.university-2 {
    /* styles for the position and university elements in the second square */
    font-size: 12px; /* reduce the font size of the position and university */
    margin: 0; /* remove the margin around the position and university */
}
a.button {
    padding: 10px 20px; /* add padding to button */
    background-color: #274c77; /* set background color for button */
    color: #e7ecef; /* set text color for button */
    border-radius: 10px; /* add border radius to button */
    text-decoration: none; /* remove underline from button */
}
.button:hover {
    background-color: #8b8c89; /* Change the background color on hover */
    color: #e7ecef; /* Change the text color on hover */
    cursor: pointer; /* Show the cursor as a pointer on hover */
}
.square-3 {
    /* similar styles as square-2 */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 250px;
    height: 350px;
    background-color: #6096ba;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    float: left;
    flex-direction: column;
}
.square-3 h1.name{
    /* styles for the title */
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2em;
}
.language-container {
    /* styles for the container that holds the images */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40%;
}
.language-container img {
    /* styles for the images */
    width: 30%;
    height: auto;
    margin: 10px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.square, .square-2, .square-3 {
    position: relative;
    top: 500px;
}
@media (max-width: 600px) {
    .square, .square-2, .square-3 {
        top: 100px;
    }
}
@media (max-width: 599px) {
    .picture-container {
        margin-top: 252x;
    }
    .square {
        width: 100%;
        margin: 10px 0;
        }
}